{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <!--Image Slider Begins-->
<div class="main-body">
  <div class="panel panel-default" style="width: 50%;margin-left: 10%;margin-top: 4%;box-shadow: 0px 4px 11px 3px gray;background-color: aliceblue">
    <div class="panel-heading text-center" style="color: white;background-color: #191C1B;">Contact Us At
    </div>
    <div class="panel-body">
    <span style="font-weight: bold">Akash Singh</span> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <span>Mob No. : 09779461948</span>
    <br/>
    <span style="font-weight: bold"> Princy Manwani</span> &nbsp; &nbsp; &nbsp; &nbsp; 
    <span>Mob No. :07696126532</span>
    </div>
  </div>
</div>
{% endblock %}