{% load staticfiles %}
    
<!-- Newly added -->
    <link href="{% static 'calculator/css/navbar-static-top.css' %}" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'calculator/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'calculator/css/bootstrap.css' %}">
    <link href="{% static 'calculator/themes/1/js-image-slider.css' %}" rel="stylesheet"/>  
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        
    <link href="//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <!-- Bootstrap core CSS -->
    <link href="{% static 'calculator/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'calculator/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->