{% load staticfiles %}
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster--> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'calculator/themes/1/js-image-slider.js' %}" ></script>
      
      <!--Date and Time change Script-->
      
  <script type="text/javascript">
      var fxn = function() {
      var now = new Date(), // current date
      months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; // you get the idea
      time = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds(), // again, you get the idea
                            // a cleaner way than string concatenation
      date = [now.getDate(),
              months[now.getMonth()],
              now.getFullYear()].join(' ');
              document.getElementById('time').innerHTML = [date, time].join(' / ');
            }
            setInterval(fxn, 1000);
  </script>
      
      
      
      <!--End of Date and Time Script-->
      
      
      
